body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:65px;
  background:inherit;
  background-color:rgba(13, 110, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:65px;
  display:flex;
}
#u24990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:47px;
}
#u24991 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:6px;
  width:229px;
  height:47px;
  display:flex;
}
#u24991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(217, 153, 14, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24992 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:17px;
  width:200px;
  height:32px;
  display:flex;
}
#u24992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u24993 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:24px;
  width:176px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u24993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 46, 141, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u24994 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:17px;
  width:85px;
  height:32px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u24994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u24995 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:87px;
  width:151px;
  height:28px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u24995 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:629px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u24997 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:141px;
  width:1072px;
  height:629px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u24997 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u24999 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u24999 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u25000 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u25000 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25001 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25001 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25002 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25002 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25003 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25003 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25004 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25004 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25005 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:271px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25005 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25006 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25006 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25007 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25007 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25008 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25008 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25009 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25009 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25010 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25010 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25011 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25011 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25012 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:371px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25012 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25013 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25013 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25014 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25014 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25015 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25015 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25016 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25016 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25017 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25017 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25018 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25018 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25019 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:471px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25019 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25020 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25020 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25021 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25021 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25022 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25022 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25023 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25023 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25024 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25024 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25025 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25025 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25026 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:570px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25026 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25027 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25027 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25028 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25028 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25029 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25029 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25030 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25030 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25031 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u25031 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u25032 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u25032 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u25033 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:670px;
  width:144px;
  height:100px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:right;
  line-height:22px;
}
#u25033 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25034 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25035 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25035 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25035_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25036 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25036 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25037 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25037 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25037_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25038 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25039 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25039_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25040 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:220px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u25040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25040_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25042 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:165px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25042 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u25042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u25044 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:175px;
  width:14px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u25044 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u25045 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:177px;
  width:8px;
  height:8px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u25045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25047 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:165px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u25047 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u25047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u25049 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:175px;
  width:14px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u25049 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u25050 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:177px;
  width:8px;
  height:8px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u25050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
