body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:843px;
}
#u16472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:843px;
  display:flex;
}
#u16472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16473 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:534px;
  width:162px;
  height:64px;
  display:flex;
}
#u16473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u16474 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:315px;
  width:86px;
  height:479px;
  display:flex;
  opacity:0.3;
  color:#FFFF00;
}
#u16474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u16475 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:470px;
  width:138px;
  height:31px;
  display:flex;
  opacity:0.3;
  color:#FFFF00;
}
#u16475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16476 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:502px;
  width:145px;
  height:64px;
  display:flex;
}
#u16476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u16477 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:478px;
  width:36px;
  height:16px;
  display:flex;
  color:#1890FF;
}
#u16477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16478 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:502px;
  width:188px;
  height:64px;
  display:flex;
}
#u16478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u16479 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:471px;
  width:48px;
  height:31px;
  display:flex;
  opacity:0.3;
  color:#FFFF00;
}
#u16479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
