body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1195px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1195px;
  height:842px;
}
#u26528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1195px;
  height:842px;
  display:flex;
}
#u26528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26529 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:726px;
  width:437px;
  height:95px;
  display:flex;
}
#u26529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u26530 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:576px;
  width:967px;
  height:144px;
  display:flex;
  opacity:0.3;
  color:#FFFF00;
}
#u26530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26531 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:465px;
  width:437px;
  height:95px;
  display:flex;
}
#u26531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
