body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-113px;
  width:996px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24887 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:165px;
  width:382px;
  height:380px;
  display:flex;
}
#u24887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:380px;
}
#u24888 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:165px;
  width:614px;
  height:380px;
  display:flex;
}
#u24888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u24889 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:355px;
  width:65px;
  height:37px;
  display:flex;
}
#u24889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:41px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u24890 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:473px;
  width:337px;
  height:41px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u24890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u24891 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:292px;
  width:346px;
  height:1px;
  display:flex;
  color:#DBDBDB;
}
#u24891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.6);
}
#u24892 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:268px;
  width:42px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.6);
}
#u24892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24892_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u24893 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:398px;
  width:346px;
  height:1px;
  display:flex;
  color:#DBDBDB;
}
#u24893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.6);
}
#u24894 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:366px;
  width:70px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.6);
}
#u24894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u24895 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:342px;
  width:346px;
  height:1px;
  display:flex;
  color:#DBDBDB;
}
#u24895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.6);
}
#u24896 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:318px;
  width:28px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.6);
}
#u24896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u24897 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:421px;
  width:56px;
  height:16px;
  display:flex;
  color:#1890FF;
}
#u24897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u24898 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:421px;
  width:56px;
  height:16px;
  display:flex;
  color:#1890FF;
}
#u24898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u24899 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:207px;
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u24899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
